In [1]:
%pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.10.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\hoakt\anaconda3\lib\site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\hoakt\anaconda3\lib\site-packages (from ipython-sql) (2.0.25)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.0-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\hoakt\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\hoakt\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hoakt\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hoakt\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\hoakt\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hoakt\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\hoakt\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\hoakt\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hoakt\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\hoakt\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\hoakt\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\hoakt\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\hoakt\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\hoakt\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\hoakt\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\hoakt\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\hoakt\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.0-py3-none-any.whl (43 kB)
   ---------------------------------------- 0.0/44.0 kB ? eta -:--:--
   ---------------------------------------- 44.0/44.0 kB 1.1 MB/s eta 0:00:00
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.10.0 sqlparse-0.5.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///chinook.db

1. Provide a query showing Customers (just their full names, customer ID and country) who are not in the US.

In [6]:
%%sql 
SELECT 
    FirstName ||' '|| LastName as FullName
    , Country
    , CustomerID
FROM customers
WHERE Country <> 'USA';

 * sqlite:///chinook.db
Done.

[('Luís Gonçalves', 'Brazil', 1),
 ('Leonie Köhler', 'Germany', 2),
 ('François Tremblay', 'Canada', 3),
 ('Bjørn Hansen', 'Norway', 4),
 ('František Wichterlová', 'Czech Republic', 5),
 ('Helena Holý', 'Czech Republic', 6),
 ('Astrid Gruber', 'Austria', 7),
 ('Daan Peeters', 'Belgium', 8),
 ('Kara Nielsen', 'Denmark', 9),
 ('Eduardo Martins', 'Brazil', 10),
 ('Alexandre Rocha', 'Brazil', 11),
 ('Roberto Almeida', 'Brazil', 12),
 ('Fernanda Ramos', 'Brazil', 13),
 ('Mark Philips', 'Canada', 14),
 ('Jennifer Peterson', 'Canada', 15),
 ('Robert Brown', 'Canada', 29),
 ('Edward Francis', 'Canada', 30),
 ('Martha Silk', 'Canada', 31),
 ('Aaron Mitchell', 'Canada', 32),
 ('Ellie Sullivan', 'Canada', 33),
 ('João Fernandes', 'Portugal', 34),
 ('Madalena Sampaio', 'Portugal', 35),
 ('Hannah Schneider', 'Germany', 36),
 ('Fynn Zimmermann', 'Germany', 37),
 ('Niklas Schröder', 'Germany', 38),
 ('Camille Bernard', 'France', 39),
 ('Dominique Lefebvre', 'France', 40),
 ('Marc Dubois', 'France', 41),
 ('Wyatt Girard', 'France', 42),
 ('Isabelle Mercier', 'France', 43),
 ('Terhi Hämäläinen', 'Finland', 44),
 ('Ladislav Kovács', 'Hungary', 45),
 ("Hugh O'Reilly", 'Ireland', 46),
 ('Lucas Mancini', 'Italy', 47),
 ('Johannes Van der Berg', 'Netherlands', 48),
 ('Stanisław Wójcik', 'Poland', 49),
 ('Enrique Muñoz', 'Spain', 50),
 ('Joakim Johansson', 'Sweden', 51),
 ('Emma Jones', 'United Kingdom', 52),
 ('Phil Hughes', 'United Kingdom', 53),
 ('Steve Murray', 'United Kingdom', 54),
 ('Mark Taylor', 'Australia', 55),
 ('Diego Gutiérrez', 'Argentina', 56),
 ('Luis Rojas', 'Chile', 57),
 ('Manoj Pareek', 'India', 58),
 ('Puja Srivastava', 'India', 59)]

2. Provide a query only showing the Customers from Brazil.

In [7]:
%%sql 
SELECT
    FirstName ||' '|| LastName as FullName
    , Country
    , CustomerID
FROM customers
WHERE Country = 'Brazil';

 * sqlite:///chinook.db
Done.

[('Luís Gonçalves', 'Brazil', 1),
 ('Eduardo Martins', 'Brazil', 10),
 ('Alexandre Rocha', 'Brazil', 11),
 ('Roberto Almeida', 'Brazil', 12),
 ('Fernanda Ramos', 'Brazil', 13)]

3. Provide a query showing the Invoices of customers who are from Brazil. The resultant table should show the customer's full name, Invoice ID, Date of the invoice and billing country.

In [8]:
%%sql 
SELECT
    c.FirstName ||' '|| c.LastName as FullName
    , c.CustomerID
    , i.InvoiceID
    , i.InvoiceDate
    , i.BillingCountry
FROM customers AS c
INNER JOIN invoices AS i 
    ON c.CustomerID = i.CustomerID
WHERE Country = 'Brazil';

 * sqlite:///chinook.db
Done.

[('Luís Gonçalves', 1, 98, '2010-03-11 00:00:00', 'Brazil'),
 ('Luís Gonçalves', 1, 121, '2010-06-13 00:00:00', 'Brazil'),
 ('Luís Gonçalves', 1, 143, '2010-09-15 00:00:00', 'Brazil'),
 ('Luís Gonçalves', 1, 195, '2011-05-06 00:00:00', 'Brazil'),
 ('Luís Gonçalves', 1, 316, '2012-10-27 00:00:00', 'Brazil'),
 ('Luís Gonçalves', 1, 327, '2012-12-07 00:00:00', 'Brazil'),
 ('Luís Gonçalves', 1, 382, '2013-08-07 00:00:00', 'Brazil'),
 ('Eduardo Martins', 10, 25, '2009-04-09 00:00:00', 'Brazil'),
 ('Eduardo Martins', 10, 154, '2010-11-14 00:00:00', 'Brazil'),
 ('Eduardo Martins', 10, 177, '2011-02-16 00:00:00', 'Brazil'),
 ('Eduardo Martins', 10, 199, '2011-05-21 00:00:00', 'Brazil'),
 ('Eduardo Martins', 10, 251, '2012-01-09 00:00:00', 'Brazil'),
 ('Eduardo Martins', 10, 372, '2013-07-02 00:00:00', 'Brazil'),
 ('Eduardo Martins', 10, 383, '2013-08-12 00:00:00', 'Brazil'),
 ('Alexandre Rocha', 11, 57, '2009-09-06 00:00:00', 'Brazil'),
 ('Alexandre Rocha', 11, 68, '2009-10-17 00:00:00', 'Brazil'),
 ('Alexandre Rocha', 11, 123, '2010-06-17 00:00:00', 'Brazil'),
 ('Alexandre Rocha', 11, 252, '2012-01-22 00:00:00', 'Brazil'),
 ('Alexandre Rocha', 11, 275, '2012-04-25 00:00:00', 'Brazil'),
 ('Alexandre Rocha', 11, 297, '2012-07-28 00:00:00', 'Brazil'),
 ('Alexandre Rocha', 11, 349, '2013-03-18 00:00:00', 'Brazil'),
 ('Roberto Almeida', 12, 34, '2009-05-23 00:00:00', 'Brazil'),
 ('Roberto Almeida', 12, 155, '2010-11-14 00:00:00', 'Brazil'),
 ('Roberto Almeida', 12, 166, '2010-12-25 00:00:00', 'Brazil'),
 ('Roberto Almeida', 12, 221, '2011-08-25 00:00:00', 'Brazil'),
 ('Roberto Almeida', 12, 350, '2013-03-31 00:00:00', 'Brazil'),
 ('Roberto Almeida', 12, 373, '2013-07-03 00:00:00', 'Brazil'),
 ('Roberto Almeida', 12, 395, '2013-10-05 00:00:00', 'Brazil'),
 ('Fernanda Ramos', 13, 35, '2009-06-05 00:00:00', 'Brazil'),
 ('Fernanda Ramos', 13, 58, '2009-09-07 00:00:00', 'Brazil'),
 ('Fernanda Ramos', 13, 80, '2009-12-10 00:00:00', 'Brazil'),
 ('Fernanda Ramos', 13, 132, '2010-07-31 00:00:00', 'Brazil'),
 ('Fernanda Ramos', 13, 253, '2012-01-22 00:00:00', 'Brazil'),
 ('Fernanda Ramos', 13, 264, '2012-03-03 00:00:00', 'Brazil'),
 ('Fernanda Ramos', 13, 319, '2012-11-01 00:00:00', 'Brazil')]

4. Provide a query showing only the Employees who are Sales Agents.

In [11]:
%%sql
SELECT
    *
FROM employees
WHERE Title LIKE '%Sales%Agent%';

 * sqlite:///chinook.db
Done.

[(3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com'),
 (4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com'),
 (5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com')]